*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius Swash Caps', cursive;
}

.container {
    height: 100vh;
    display: flex;
}

.left, .right {
    /* border: 2px solid red; */
    flex: auto;
}

.left {
    /* margin-top: -54px; */
    background-size: cover;
    background: url('img/human.jpg');
    background-size: 100% 105%;
    background-position-y: -26px;
    /* background-position-x: 6px; */
}

.right {
    /* border-left: 2px solid chartreuse; */
    background: url('img/robot.jpg');
    background-size: 100% 100%;
}

h1{
    color: #fff;
    padding: 10px;
}

h1.humanScore {
   
    text-align: end;
}

.images {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.images img {
    width: 100px;
    height: 100px;
    border: 2px solid #e4e0ed4d;
    padding: 10px;
    border-radius: 20px;
}



.images img:hover, .hoverEffect{
    scale: 1.2;
    background: blueviolet;
    border: 3px solid chartreuse;
    cursor: han;
}

.left img:hover{
    cursor: pointer;
}


.message {
    /* border: 2px solid green; */
    width: 438px;
    position: absolute;
    font-size: 41px;
    top: 45%;
    left: 38%;
    color: #fff;
    background: #0202025c;
    text-align: center;
    border-radius: 20px;
    /* padding: 10px; */
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  .images span {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
   

    .container {
        flex-direction: column;
    }

    .left, .right {
        height: 50vh;
    }

    .images {
        flex-direction: row;
    }
    
    .message{
        left: 16%;
        font-size: 33px;
        width: 338px;
    }

  

}