*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.left, .right {
    border: 2px solid red;
    flex: auto;
}

.left {
    background-size: cover;
    background: url(https://images.unsplash.com/photo-1567303314286-6735a4ad9d42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1968&q=80);
    background-size: 100% 100%;
}

.right {
    background: url(https://images.unsplash.com/photo-1625314887424-9f190599bd56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fFJvYm90c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: 100% 100%;
}

h1{
    color: #fff;
    padding: 10px;
}

h1.humanScore {
   
    text-align: end;
}

.images {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images img {
    width: 100px;
    height: 100px;
    border: 2px solid azure;
    padding: 10px;
}



.images img:hover{
    scale: 1.2;
    background: blueviolet;
    border: 5px solid;
}

.message {
    border: 2px solid green;
    width: 438px;
    position: absolute;
    font-size: 41px;
    top: 50%;
    left: 38%;
    color: #fff;
    text-align: center;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }